/*NAV*/
#mainNav {
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
#mainNav .navbar-brand {
  color: rgb(0, 9, 92);
  text-shadow: 2px 2px 4px #aaa0a0;
  margin-top: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  background-color: #d8ca00;
  box-shadow: 2px 2px 5px #aaa0a0;
}
#mainNav .navbar-nav {
  margin-top: 1rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
  background-color: #685e5a;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #f9fd00;
}
/*MAIN INICIO*/

h1 {
  color: #fdfdfd;
  text-shadow: 5px 5px 5px #5a5555;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  animation: from-right 1s ease;
}

h3 {
  font-size: 3rem;
  margin-top: 1.2rem;
  color: #fbfbfb;
  text-shadow: 2px 2px 2px #d8ca00;
  text-align: center;
  animation: from-right 1s 1.5s ease;
  animation-fill-mode: backwards;
}
#info {
  animation: from-left 1s 1.5s ease;
}
/*ANIMACIONES*/

@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(80%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes from-under {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/*SERVICIOS*/

/*NOSOTROS*/
.nosotros {
  padding-bottom: 2rem;
}
.person-one {
  animation: from-left 3s 1.5s ease;
  animation-fill-mode: backwards;
}
.person-two {
  animation: from-right 5s 1.5s ease;
  animation-fill-mode: backwards;
}
.person-three {
  animation: from-under 2s 1.5s ease;
  animation-fill-mode: backwards;
}

/*FORM*/
.form {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
/*FOOTER*/
.footer {
  padding-top: 0;
  padding-bottom: 3rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}
