/*ANIMACIONES*/

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes from-under {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/*NOSOTROS*/
.person__one {
  animation: from-right 2s ease;
  animation-fill-mode: backwards;
}
.person__two {
  animation: from-under 3s 1s ease;
  animation-fill-mode: backwards;
}
