/*FOOTER*/
.footer {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: $backgroundfooter;
  color: #fff;
}

.copyright {
  background-color: $colorcopyright;
}
.btn {
  box-shadow: 2px 2px 5px #aaa0a0;
}
