@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;800&family=Crafty+Girls&family=Roboto:ital,wght@0,300;0,900;1,400&family=Rubik+Beastly&display=swap");

$font-family-base: "Roboto", sans-serif;

$primary: #643bd5;

@import "variables";
@import "nav";
@import "buttonWapp";
@import "animaciones";

@import "../node_modules/bootstrap/scss/bootstrap";

/*MAIN INICIO*/

h1 {
  color: #fdfdfd;
  text-shadow: 5px 5px 5px #5a5555;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  animation: from-right 1s ease;
}

h3 {
  font-size: 4rem;
  margin-top: 1.2rem;
  color: #fbfbfb;
  text-align: center;
  animation: from-left 1s 1.5s ease;
  animation-fill-mode: backwards;
}

/*NOSOTROS*/
.person__one {
  animation: from-right 2s ease;
  animation-fill-mode: backwards;
}
.person__two {
  animation: from-under 3s 1s ease;
  animation-fill-mode: backwards;
}

/*FORM*/
.form {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
/*FOOTER*/
.footer {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: $backgroundfooter;
  color: #fff;
}

.copyright {
  background-color: $colorcopyright;
}
.btn {
  box-shadow: 2px 2px 5px #aaa0a0;
}
