@import "fonts";
@import "nav";
@import "buttonWapp";
@import "variables";

/*INICIO*/

h1 {
  color: #fdfdfd;
  text-shadow: 5px 5px 5px #5a5555;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 3.5rem;
  margin-top: 1rem;
  color: #fbfbfb;
  text-align: center;
}

/*ANIMACIONES*/

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes from-under {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/*PRODUCTOS*/
.animation__text {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  animation: iluminar 1s linear infinite;
}
/*APLICADO A CARDS OFERTAS*/
@keyframes iluminar {
  0% {
    color: #ffffff;
    text-shadow: none;
  }
  90% {
    color: #b83923;
    text-shadow: none;
  }
  100% {
    color: #ff0000;
    text-shadow: 0 0 7px #ff0000, 0 0 50px #ff6c00;
  }
}

/*NOSOTROS */

.person__one {
  animation: from-right 2s ease;
  animation-fill-mode: backwards;
}
.person__two {
  animation: from-under 3s 1s ease;
  animation-fill-mode: backwards;
}

/*CONTACTO-FORM*/
.form {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
/*FOOTER*/
.footer {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: $backgroundfooter;
  color: #fff;
}

.copyright {
  background-color: $colorcopyright;
}
.btn {
  box-shadow: 2px 2px 5px #aaa0a0;
}
